@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
  color: white;
}
.container{
  position: relative;
}
.left {
  display: flex;
  width: 25%;
  flex-direction: column;
  /* overflow-y: scroll; */
  /* overflow: hidden; */
  max-height: 99vh;
}
.right {
  width: 79%;
  background: #121212;
  /* padding: 20px 10px 8px 25px; */
  margin: 8px 8px 0px 0px;
  border-radius: 8px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 98vh;
}

.home {
  background: #121212;
  padding: 20px 10px 6px 25px;
  margin: 8px 8px;
  border-radius: 8px;
}
.home ul {
  padding: 6px 0px 4px 0px;
}
.home ul li img {
  width: 25px;
  margin: 0px 20px 0px 0px;
}
.home ul li {
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(143, 142, 142);
  
  padding: 10px 0px;
  cursor: pointer;
}
.libarary {
  background: #121212;
  
  margin: 0px 8px;
  border-radius: 8px;
  overflow: hidden;
  
}
.playlist span img {
  width: 23px;
}
.playlist {
  display: flex;
  text-align: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 15px 10px 20px 25px;
}
.playlist h2 span img {
  margin: 0px 12px 0px 0px;
}
.playlist h2 {
  font-size: 20px;
  display: flex;
  color: rgb(143, 142, 142);
}
.playlist .span1 img {
  width: 14px;
  align-items: center;
  cursor: pointer;
}
.playlist .span1 {
  margin-top: -5px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}
.playlist .span1:hover {
  background-color: #262626;
}
.footer {
  padding: 10px 10px 0px 25px;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  margin-top: 30px;
}
.footer ul li {
  padding: 0px 24px 10px 0px;
  letter-spacing: -0.1px;
  color: #686767;
}
.e1 {
  height: 40%;
  padding: 0px 10px;
  overflow: hidden;
  overflow-y: scroll;
}
.e2 {
  border-radius: 8px;
  background-color: #262626;
  padding: 18px 20px;
  margin: 0px;
}
.e2 h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 9px 0px;
}
.e2 p {
  font-size: 16px;
  margin: 0px 0px 20px 0px;
  font-weight: 500;
  letter-spacing: 1px;
}
.e1 button {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid;
  cursor: pointer;
  font-weight: 600;
}
.e3 {
  border-radius: 8px;
  background-color: #262626;
  padding: 18px 20px;
  margin: 15px 0px;
  gap: 10px;
}
.e3 h2 {
  font-size: 19px;
  font-weight: 700;
  margin: 0px 0px 14px 0px;
  padding: 0px 10px;
}
.e3 p {
  font-size: 16px;
  margin: 0px 0px 14px 0px;
  font-weight: 700;
  padding: 0px 10px;
}
.btn {
  display: flex;
  margin: 20px 20px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  /* align-items: center; */
  cursor: pointer;
}
.btn span img {
  width: 20px;
  text-align: center;
  align-items: center;
  margin: 0px 10px 0px 0px;
}
.navbar {
  display: flex;
  background-color:  rgba(0, 0, 0, 0.5);;
  border-radius: 8px 8px 0px 0px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0%;
  left: 0%;
}
.btn1 {
  /* background-color: rgba(0, 0, 0, .5); */
  margin: 8px 20px;
  cursor: pointer;
}
.btn1 button {
  border: none;
  /* padding: 5px; */
  /* border-radius: 50px; */
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  margin: 0px 3px;
}
.btn1 button img {
  width: 25px;
  height: 25px;
  border-radius: 20px;
}

.btn2 {
  margin: 7px 33px;
}
.b1 {
  cursor: pointer;
  padding: 13px 30px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: rgb(143, 142, 142);
  font-weight: 600;
  margin-right: 2px;
}
.b2 {
  cursor: pointer;
  padding: 13px 33px;
  border-radius: 60px;
  background-color: white;
  border: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
  margin-left: 2px;
}
.li1:hover {
  text-decoration: underline;
}
.b1:hover {
  color: white;
}
.b2:hover {
  font-weight: 700;
  padding: 13px 33px;
}

.pop-text {
  padding: 65px 15px 12px 22px;
  font-size: 37px;
}

.artist-items {
  position: relative;
  /* background-color: #262626; */
  width: 16%;
  margin: 20px 3px 5px 4px;
  border-radius: 8px;
  cursor: pointer;
 
}
.artist-items:hover {
  background-color: #262626;
}
.artist-image {
  display: flex;
  justify-content: center;
}
.artist-image img {
  width: 175px;
  height: 200px;
  border-radius: 50%;
  padding: 10px 0px;
  border: none;
}
.artist-name {
  padding: 0px 11px 14px;
}
.artist-name h4 {
  font-size: 19px;
  font-weight: 600;
}
.artist-name p {
  color: rgb(143, 142, 142);
  font-weight: 600;
  padding: 5px 0px;
  font-size: 16px;
}
.artist {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
}
.artist1{
  display: none;
}
.playbtn button{
  background-color:#1ed760;
  padding: 13px 26px;
  width: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  border: 1px ;
  position: absolute;
  right: 18px;
  top: 160px;
  opacity: 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.playbtn button img{
  width: 25px;
  height: 25px;
}
.artist-items:hover .playbtn button {
  opacity: 1;
  top: 136px;
}
.ul1 ul{
  display: flex;
  justify-content: space-between;
  padding:   100px 30px 40px;
  list-style: none;
}
.ul1 ul li .et1{
  color: white;
  /* color: black; */
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 0px 10px 0px ;
  cursor: pointer;
}
.ul1 ul li .et2{
  color: #7c7a7a;
  font-size: 0.9875rem;
    font-weight: 500;
    padding: 7px 0px;
    cursor: pointer;
}
.ul1 ul li .et2:hover{
  text-decoration: underline;
  color: white;
}

.ee1 div{
  display: flex;
}
.ul1 ul .ee1 button{
  display: flex;
flex-direction: row;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
  border: none;
  margin: 0px 10px;
  background-color: #383737;
}
.ul1 ul .ee1 button img{
  width: 15px;
  filter: invert(1);

}
.ul1 ul .ee1 button:hover{
  background-color: #726d6d;
}
.line{
  border: 1px solid grey;
  opacity: 0.2;
 margin: 0px 30px 40px 30px ;
}
.ew1{
  padding:0px 30px 80px 30px ;
}
.ew1 h2{
  font-size: 0.875rem;
    font-weight: 500;
    color: #7c7a7a;
}



.right1{
display: none;
width: 79%;
background: #121212;
/* padding: 20px 10px 8px 25px; */
margin: 8px 8px 0px 0px;
border-radius: 8px;
overflow: hidden;
overflow-y: scroll;
max-height: 98vh;
}

section{
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  border-radius: 10px;
  padding: 0 150px 0px 30px;
}
audio{
  display:none ;
}
.main{
 width: 25vw; 
height: 80vh; 
background-color: rgb(121 129 98);
display: flex;
justify-content: center;
text-align: center;
border-radius: 50px;
/* padding-left: 100px; */
box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}

.img1 img{
  border-radius: 100%;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  text-align: center;
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main #hh{
  margin-top: 30px;
  font-size: 2rem;
  text-transform: uppercase;

}
.main #pp{
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 1rem;
  
}
.controls{
  margin-top:30px;
  text-align: center;
}
.controls #pre{
  /* background-color: grey; */
  position: relative;
  margin-right: 90px;
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 35px;
  padding-right: 15px;
  /* padding: 8px; */
}
.controls #next{
  /* background-color: grey; */
  position: relative;
  margin-left: 90px;
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.controls #play{
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 15px;
  border-radius: 35px;
  text-align: center;
  width: 50px;
  padding-left: 20px;

}
.controls #play:hover{
  color: black;
  cursor: pointer;
  background-color: rgb(153, 241, 241);
}
.controls #next:hover{
  color: black;
cursor: pointer;
  background-color: rgb(156, 243, 243);
}
.controls #pre:hover{
  color: black;
  background-color: rgb(156, 243, 243);
  cursor: pointer;
}
.anime{
  animation: rotatePlayer 3s linear infinite;
}
@keyframes rotatePlayer {
  form {transform: rotate(0deg); }
  to{
      transform: rotate(360deg);
  }
  
}
.progress{
width: 100%;
height: auto;
padding: 1rem 0;
/* margin-top: 1rem; */
}
.progress-div{
  background-color: rgb(211, 209, 209);
  width: 100%;
  height: 0.5rem;
  box-shadow: 0 5px 6px 1px rgba(0, 0, 0, 0.5);
  border-radius: 4rem;
  position: relative;
  margin-top: 0.5rem;
   transition: all 1s linear;
   -moz-transition: all 1s linear; 
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear; 
  cursor: pointer;
   -webkit-appearance: none;
  appearance: none; 
}
.proo1{
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 4rem;
  background-color: black;
  /* transition: all 1s linear;
  -moz-transition: all 1s linear; 
 -o-transition: all 1s linear;
 -webkit-transition: all 1s linear;  */
 cursor: pointer;
  -webkit-appearance: none;
 appearance: none; 

}
.duration{
  display: flex;
  justify-content: space-between;
 
}
.playlists ul li{
 list-style: none;
 padding: 10px 0px;
}
.e22{
  padding: 10px ;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;

}
.e22 .e23{
  width: 60px;
  height: 60px;
  border-radius: 50px;
   margin-right: 15px;
   display: flex;

}
.e22 .name  {
  font-size: 12px;
  margin-right: 15px;


}
.e22 .invert{
  width: 30px;
  cursor: pointer;
  opacity: 0;
}
 
.e22:hover{
  background-color: #383737;
  /* padding: 10px 0; */
  border-radius: 10px;
  cursor: pointer;
}
.e22:hover .invert{
  opacity: 1;
}

.btn3{
  padding: 0px 30px;
  position: absolute;
  right: 10px;
  top :0px;
  font-size: 30px;
  visibility: hidden;
  z-index: 1001;
}
.showdiv{
  position: absolute;
  background-color: #121212;
  width: 100%;
  height: 100vh;
  z-index: 1000; 
  visibility: hidden;
  transition: 0.5s ease-in-out;

}
.btn4{
  padding: 0px 30px;
  position: absolute;
  right: 20px;
  top :0px;
  font-size: 40px;
  color:rgb(73, 72, 72) ;
 
}
.btn4:hover{
  color: white;
}

.btn12{
 display: block;
  /* width: 20%; */
  background-color: transparent;
  margin-top: 50px;
  /* text-align: center; */
  /* align-items: center; */
}
.b12{
  background-color: transparent;
  color: white;
  border: transparent;
  cursor: pointer;
    padding: 13px 30px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgb(143, 142, 142);
    font-weight: 600;
    margin-right: 2px;
}
.b13{
  background-color: transparent;
  color: white;
  border: transparent;
  cursor: pointer;
    padding: 13px 30px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgb(143, 142, 142);
    font-weight: 600;
    margin-right: 2px;
}
.b12:hover{
  color: white;
}
.b13:hover{
  color: white;
}
.line1 {
  border: 2px solid grey;
  width: 22%;
  color: rgb(73, 72, 72);
  margin-left: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.3;
}
.showul{
  margin-left: 28px;
  list-style: none;
}
.showul li{
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(143, 142, 142);
  cursor: pointer;
}
.showul li:hover{
  color: white;
}

.invert1{
  margin-left: 10px;
  visibility: hidden;
}
.invert2{
  width: 20px;
  align-items: center;
  visibility: hidden;
margin-right: 50px;
}


@media (min-width: 800px) and (max-width: 850px) {
  .invert1{
    margin-left: 10px;
    visibility: visible;
  }
  .invert2{
    
    visibility: visible;
  
  }
  .left{
    display: none;
    height: 100%;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
  }
  .artist-image img {
    width: 140px;
    height: 180px;
    border-radius: 10%;
    padding: 10px 0px;
    border: none;
}
.artist {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 0px 30px;
}
.artist-items {
width: 21%;

  margin: 20px 26px 5px 4px;
 
}
.artist-name h4 {
  font-size: 15px;

}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  padding: 100px 30px 22px;
}
.ul1 ul li .et2 {
 
  font-size: 15px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.right1 {
 
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  
}
.img1 img {
  border-radius: 100%;
  margin-top: 21px;
  width: 140px;
  height: 140px;
  text-align: center;
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
  width: 36vw;
  height: auto;
  background-color: rgb(121 129 98);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  /* padding-left: 100px; */
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  /* margin-top: 1rem; */
}
section {
  margin-top: 50px;
  margin-bottom: 130px;
  padding: 0px 60px 0px 10px;
}
.main #hh {
  margin-top: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.controls{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 40px 10px;
  align-items: center;
}
.controls #next {
  /* background-color: grey; */
  position: relative;
  margin: 0px 40px;
  font-size: 20px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.controls #pre {
  /* background-color: grey; */
  position: relative;
  margin-left: 0px;
  font-size: 20px;
  margin: 0 40px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
}

@media (min-width: 850px) and (max-width: 900px) {
  .invert1{
    margin-left: 10px;
    visibility: visible;
  }
  .invert2{
    
    visibility: visible;
  
  }
  .left{
    display: none;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
  }
  .artist-image img {
    width: 150px;
    height: 180px;
    border-radius: 10%;
    padding: 10px 0px;
    border: none;
}
.artist {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 0px 30px;
}
.artist-items {
width: 21%;

  margin: 20px 26px 5px 4px;
 
}
.artist-name h4 {
  font-size: 15px;

}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  padding: 100px 30px 22px;
}
.ul1 ul li .et2 {
 
  font-size: 15px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.artist-name {
  padding: 0px 20px 14px;
}
.right1 {
 
  width: 100%;
  margin: 0px;
  max-height: 100vh;

}
.img1 img {
border-radius: 100%;
margin-top: 21px;
width: 140px;
height: 140px;
text-align: center;
box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
width: 36vw;
height: auto;
background-color: rgb(121 129 98);
display: flex;
justify-content: center;
text-align: center;
border-radius: 50px;
/* padding-left: 100px; */
box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
width: 100%;
height: auto;
padding: 10px 20px;
/* margin-top: 1rem; */
}
section {
margin-top: 50px;
margin-bottom: 130px;
padding: 0px 60px 0px 10px;
}
.main #hh {
margin-top: 30px;
font-size: 30px;
text-transform: uppercase;
}
.controls{
display: flex;
justify-content: space-between;
padding: 0px 10px 40px 10px;
align-items: center;
}
.controls #next {
/* background-color: grey; */
position: relative;
margin: 0px 40px;
font-size: 20px;
color: white;
background-color:transparent;
padding: 10px;
border-radius: 35px;
padding-left: 15px;
}
.controls #pre {
/* background-color: grey; */
position: relative;
margin-left: 0px;
font-size: 20px;
margin: 0 40px;
color: white;
background-color:transparent;
padding: 10px;
border-radius: 35px;
padding-left: 15px;
}
}
@media (min-width: 900px) and (max-width: 950px) {
  .invert1{
    margin-left: 10px;
    visibility: visible;
  }
  .invert2{
    
    visibility: visible;
  
  }
  .left{
    display: none;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
  }
  .artist-image img {
    width: 150px;
    height: 180px;
    border-radius: 10%;
    padding: 10px 0px;
    border: none;
}
.artist {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 0px 30px;
}
.artist-items {
width: 21%;

  margin: 20px 26px 5px 4px;
 
}
.artist-name h4 {
  font-size: 15px;

}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  padding: 100px 30px 22px;
}
.ul1 ul li .et2 {
 
  font-size: 15px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.artist-name {
  padding: 0px 23px 14px;
}
.right1 {
 
  width: 100%;
  margin: 0px;
  max-height: 100vh;

}
.img1 img {
border-radius: 100%;
margin-top: 21px;
width: 140px;
height: 140px;
text-align: center;
box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
width: 36vw;
height: auto;
background-color: rgb(121 129 98);
display: flex;
justify-content: center;
text-align: center;
border-radius: 50px;
/* padding-left: 100px; */
box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
width: 100%;
height: auto;
padding: 10px 20px;
/* margin-top: 1rem; */
}
section {
margin-top: 50px;
margin-bottom: 130px;
padding: 0px 60px 0px 10px;
}
.main #hh {
margin-top: 30px;
font-size: 30px;
text-transform: uppercase;
}
.controls{
display: flex;
justify-content: space-between;
padding: 0px 10px 40px 10px;
align-items: center;
}
.controls #next {
/* background-color: grey; */
position: relative;
margin: 0px 40px;
font-size: 20px;
color: white;
background-color:transparent;
padding: 10px;
border-radius: 35px;
padding-left: 15px;
}
.controls #pre {
/* background-color: grey; */
position: relative;
margin-left: 0px;
font-size: 20px;
margin: 0 40px;
color: white;
background-color:transparent;
padding: 10px;
border-radius: 35px;
padding-left: 15px;
}
}
@media (min-width: 950px) and (max-width: 1000px) {
  .invert1{
    margin-left: 10px;
    visibility: visible;
  }
  .invert2{
    
    visibility: visible;
  
  }
  .left{
    display: none;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
  }
  .artist-image img {
    width: 150px;
    height: 180px;
    border-radius: 10%;
    padding: 10px 0px;
    border: none;
}
.artist {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 0px 30px;
}
.artist-items {
width: 21%;

  margin: 20px 26px 5px 4px;
 
}
.artist-name h4 {
  font-size: 15px;

}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  padding: 100px 30px 22px;
}
.ul1 ul li .et2 {
 
  font-size: 15px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.artist-name {
  padding: 0px 26px 14px;
}
.right1 {
 
  width: 100%;
  margin: 0px;
  max-height: 100vh;

}
.img1 img {
border-radius: 100%;
margin-top: 21px;
width: 140px;
height: 140px;
text-align: center;
box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
width: 36vw;
height: auto;
background-color: rgb(121 129 98);
display: flex;
justify-content: center;
text-align: center;
border-radius: 50px;
/* padding-left: 100px; */
box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
width: 100%;
height: auto;
padding: 10px 20px;
/* margin-top: 1rem; */
}
section {
margin-top: 50px;
margin-bottom: 134px;
padding: 0px 60px 0px 10px;
}
.main #hh {
margin-top: 30px;
font-size: 30px;
text-transform: uppercase;
}
.controls{
display: flex;
justify-content: space-between;
padding: 0px 10px 40px 10px;
align-items: center;
}
.controls #next {
/* background-color: grey; */
position: relative;
margin: 0px 40px;
font-size: 20px;
color: white;
background-color:transparent;
padding: 10px;
border-radius: 35px;
padding-left: 15px;
}
.controls #pre {
/* background-color: grey; */
position: relative;
margin-left: 0px;
font-size: 20px;
margin: 0 40px;
color: white;
background-color:transparent;
padding: 10px;
border-radius: 35px;
padding-left: 15px;
}
}



@media (min-width: 300px) and (max-width: 350px) {
  .invert1{
    margin-left: 5px;
    visibility: visible;
  }
  .invert2{
    margin-right: 12px;
    visibility: visible;
  
  }
  .left{
    display: none;
    height: 100%;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
    right: -20px;
  }
  .btn4 {
    padding: 0px 0px;
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 40px;
}
  .artist-image img {
    width: 150px;
    height: 170px;
    border-radius: 20%;
    padding: 10px 15px;
    border: none;
}
.artist {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow:hidden ;
  overflow-x: scroll;
}
.artist1 {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow:hidden ;
  overflow-x: scroll;
}
.artist-items {
width: 50%;
padding: 0px 10px;
  margin: 20px 12px;
 
}
.artist-name h4 {
  font-size: 15px;

}
::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: #888; /* Color of the thumb */
  border-radius: 0px 6px 6px 0px; /* Roundness of the thumb */
}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  display: block;
  padding: 20px 30px 22px;
}
.ul1 ul li {
 padding: 15px 0px;
  font-size: 15px;
 
}
.ul1 ul li .et2 {
 
  font-size: 15px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.right1 {
 
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  
}
.img1 img {
  border-radius: 100%;
  margin-top: 21px;
  width: 140px;
  height: 140px;
  text-align: center;
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
  margin-top: -40px;
  margin-bottom: 27px;
  width: 94vw;
  height: auto;
  background-color: rgb(121 129 98);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  /* padding-left: 100px; */
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  /* margin-top: 1rem; */
}
section {
  margin-top: 50px;
  margin-bottom: 130px;
  padding: 0px 60px 0px 10px;
  flex-direction: column-reverse;
}
.main #hh {
  margin-top: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.controls{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 40px 10px;
  align-items: center;
}
.controls #next {
  /* background-color: grey; */
  position: relative;
  margin: 0px 40px;
  font-size: 20px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.controls #pre {
  /* background-color: grey; */
  position: relative;
  margin-left: 0px;
  font-size: 20px;
  margin: 0 40px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.playbtn button {
  background-color: #1ed760;
  padding: 13px 26px;
  width: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  border: 1px;
  position: absolute;
  right: 20px;
  top: 200px;
  opacity: 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.artist-items:hover .playbtn button {
  opacity: 1;
  top: 125px;
}
}

@media (min-width: 350px) and (max-width: 400px) {
  .invert1{
    margin-left: 10px;
    visibility: visible;
  }
  .invert2{
    
    visibility: visible;
  
  }
  .left{
    display: none;
    height: 100%;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
    right: -20px;
  }
  .btn4 {
    padding: 0px 0px;
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 40px;
}
  .artist-image img {
    width: 170px;
    height: 170px;
    border-radius: 20%;
    padding: 10px 15px;
    border: none;
}
.artist-name {
  padding: 0px 24px 14px;
}
.artist {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow:hidden ;
  overflow-x: scroll;
}
.artist1 {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow:hidden ;
  overflow-x: scroll;
}
.artist-items {
width: 50%;
padding: 0px 10px;
  margin: 20px 10px;
 
}
.artist-name h4 {
  font-size: 15px;

}
::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: #888; /* Color of the thumb */
  border-radius: 0px 6px 6px 0px; /* Roundness of the thumb */
}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  display: block;
  padding: 20px 30px 22px;
}
.ul1 ul li {
 padding: 15px 0px;
  font-size: 15px;
 
}
.ul1 ul li .et2 {
 
  font-size: 15px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.right1 {
 
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  
}
.img1 img {
  border-radius: 100%;
  margin-top: 21px;
  width: 140px;
  height: 140px;
  text-align: center;
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
  margin-top: -40px;
  margin-bottom: 27px;
  width: 94vw;
  height: auto;
  background-color: rgb(121 129 98);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  /* padding-left: 100px; */
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  /* margin-top: 1rem; */
}
section {
  margin-top: 50px;
  margin-bottom: 130px;
  padding: 0px 60px 0px 10px;
  flex-direction: column-reverse;
}
.main #hh {
  margin-top: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.controls{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 40px 10px;
  align-items: center;
}
.controls #next {
  /* background-color: grey; */
  position: relative;
  margin: 0px 40px;
  font-size: 20px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.controls #pre {
  /* background-color: grey; */
  position: relative;
  margin-left: 0px;
  font-size: 20px;
  margin: 0 40px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.playbtn button {
  background-color: #1ed760;
  padding: 13px 26px;
  width: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  border: 1px;
  position: absolute;
  right: 20px;
  top: 200px;
  opacity: 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.artist-items:hover .playbtn button {
  opacity: 1;
  top: 125px;
}
}

@media (min-width: 400px) and (max-width: 450px) {
  .invert1{
    margin-left: 10px;
    visibility: visible;
  }
  .invert2{
    
    visibility: visible;
  
  }
  .left{
    display: none;
    height: 100%;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
    right: -20px;
  }
  .btn4 {
    padding: 0px 0px;
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 40px;
}
  .artist-image img {
    width: 170px;
    height: 170px;
    border-radius: 20%;
    padding: 10px 15px;
    border: none;
}
.artist-name {
  padding: 0px 24px 14px;
}
.artist {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow:hidden ;
  overflow-x: scroll;
}
.artist1 {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow:hidden ;
  overflow-x: scroll;
}
.artist-items {
width: 50%;
padding: 0px 10px;
  margin: 20px 5px;
 
}
.artist-name h4 {
  font-size: 15px;

}
::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: #888; /* Color of the thumb */
  border-radius: 0px 6px 6px 0px; /* Roundness of the thumb */
}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  display: block;
  padding: 20px 30px 22px;
}
.ul1 ul li {
 padding: 15px 0px;
  font-size: 15px;
 
}
.ul1 ul li .et2 {
 
  font-size: 15px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.right1 {
 
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  
}
.img1 img {
  border-radius: 100%;
  margin-top: 21px;
  width: 140px;
  height: 140px;
  text-align: center;
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
  margin-top: -40px;
  margin-bottom: 27px;
  width: 95vw;
  height: auto;
  background-color: rgb(121 129 98);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  /* padding-left: 100px; */
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  /* margin-top: 1rem; */
}
section {
  margin-top: 50px;
  margin-bottom: 130px;
  padding: 0px 60px 0px 10px;
  flex-direction: column-reverse;
}
.main #hh {
  margin-top: 30px;
  font-size: 40px;
  text-transform: uppercase;
}
.controls{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 40px 10px;
  align-items: center;
}
.controls #next {
  /* background-color: grey; */
  position: relative;
  margin: 0px 40px;
  font-size: 20px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.controls #pre {
  /* background-color: grey; */
  position: relative;
  margin-left: 0px;
  font-size: 20px;
  margin: 0 40px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.playbtn button {
  background-color: #1ed760;
  padding: 13px 26px;
  width: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  border: 1px;
  position: absolute;
  right: 20px;
  top: 200px;
  opacity: 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.artist-items:hover .playbtn button {
  opacity: 1;
  top: 125px;
}
}
@media (min-width: 450px) and (max-width: 515px) {
  .invert1{
    margin-left: 10px;
    visibility: visible;
  }
  .invert2{
    
    visibility: visible;
  
  }
  .left{
    display: none;
    height: 100%;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
    right: -20px;
  }
  .btn4 {
    padding: 0px 0px;
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 40px;
}
  .artist-image img {
    width: 170px;
    height: 170px;
    border-radius: 20%;
    padding: 10px 15px;
    border: none;
}
.artist-name {
  padding: 0px 24px 14px;
}
.artist {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow:hidden ;
  overflow-x: scroll;
}
.artist1 {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow:hidden ;
  overflow-x: scroll;
}
.artist-items {
width: 50%;
padding: 0px 10px;
  margin: 20px 5px;
 
}
.artist-name h4 {
  font-size: 15px;

}
::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: #888; /* Color of the thumb */
  border-radius: 0px 6px 6px 0px; /* Roundness of the thumb */
}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  display: block;
  padding: 20px 30px 22px;
}
.ul1 ul li {
 padding: 15px 0px;
  font-size: 15px;
 
}
.ul1 ul li .et2 {
 
  font-size: 15px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.right1 {
 
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  
}
.img1 img {
  border-radius: 100%;
  margin-top: 21px;
  width: 140px;
  height: 140px;
  text-align: center;
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
  margin-top: -40px;
  margin-bottom: 27px;
  width: 95vw;
  height: auto;
  background-color: rgb(121 129 98);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  /* padding-left: 100px; */
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  /* margin-top: 1rem; */
}
section {
  margin-top: 50px;
  margin-bottom: 130px;
  padding: 0px 60px 0px 10px;
  flex-direction: column-reverse;
}
.main #hh {
  margin-top: 30px;
  font-size: 40px;
  text-transform: uppercase;
}
.controls{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 40px 10px;
  align-items: center;
}
.controls #next {
  /* background-color: grey; */
  position: relative;
  margin: 0px 40px;
  font-size: 20px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.controls #pre {
  /* background-color: grey; */
  position: relative;
  margin-left: 0px;
  font-size: 20px;
  margin: 0 40px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.playbtn button {
  background-color: #1ed760;
  padding: 13px 26px;
  width: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  border: 1px;
  position: absolute;
  right: 20px;
  top: 200px;
  opacity: 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.artist-items:hover .playbtn button {
  opacity: 1;
  top: 125px;
}
}



@media (min-width: 700px) and (max-width: 800px) {
  .invert1{
    margin-left: 10px;
    visibility: visible;
  }
  .invert2{
    
    visibility: visible;
  
  }
  .artist-name {
    padding: 0px 28px 14px;
}
  .left{
    display: none;
    height: 100%;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
  }
  .artist-image img {
    width: 140px;
    height: 180px;
    border-radius: 10%;
    padding: 10px 0px;
    border: none;
}
.artist {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 0px 30px;
}
.artist-items {
width: 28%;

  margin: 20px 26px 5px 4px;
 
}
.ee1 div {
  display: block;
}
.ul1 ul .ee1 button {
 
  margin: 16px 10px;
 
}
.artist-name h4 {
  font-size: 15px;

}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  padding: 100px 30px 22px;
}
.ul1 ul li .et2 {
 
  font-size: 15px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.right1 {
 
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  
}
.img1 img {
  border-radius: 100%;
  margin-top: 21px;
  width: 140px;
  height: 140px;
  text-align: center;
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
  width: 45vw;
  height: auto;
  background-color: rgb(121 129 98);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  /* padding-left: 100px; */
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  /* margin-top: 1rem; */
}
section {
  margin-top: 50px;
  margin-bottom: 130px;
  padding: 0px 60px 0px 10px;
}
.main #hh {
  margin-top: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.controls{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 40px 10px;
  align-items: center;
}
.controls #next {
  /* background-color: grey; */
  position: relative;
  margin: 0px 40px;
  font-size: 20px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.controls #pre {
  /* background-color: grey; */
  position: relative;
  margin-left: 0px;
  font-size: 20px;
  margin: 0 40px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
}
@media (min-width: 615px) and (max-width: 700px) {
  .invert1{
    margin-left: 10px;
    visibility: visible;
  }
  .invert2{
    
    visibility: visible;
  
  }
  .artist-name {
    padding: 0px 28px 14px;
}
  .left{
    display: none;
    height: 100%;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
  }
  .artist-image img {
    width: 140px;
    height: 180px;
    border-radius: 10%;
    padding: 10px 0px;
    border: none;
}
.artist {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 0px 30px;
}
.artist-items {
width: 28%;

  margin: 20px 26px 5px 4px;
 
}
.ee1 div {
  display: block;
}
.ul1 ul .ee1 button {
 
  margin: 16px 10px;
 
}
.artist-name h4 {
  font-size: 15px;

}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  padding: 100px 30px 22px;
}
.ul1 ul li .et2 {
 
  font-size: 13px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.right1 {
 
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  
}
.img1 img {
  border-radius: 100%;
  margin-top: 21px;
  width: 140px;
  height: 140px;
  text-align: center;
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
  width: 45vw;
  height: auto;
  background-color: rgb(121 129 98);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  /* padding-left: 100px; */
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
  width: 100%;
  height: auto;
  padding: 10px 40px;
  /* margin-top: 1rem; */
}
section {
  margin-top: 50px;
  margin-bottom: 130px;
  padding: 0px 60px 0px 10px;
}
.main #hh {
  margin-top: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.controls{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 40px 10px;
  align-items: center;
}
.controls #next {
  /* background-color: grey; */
  position: relative;
  margin: 0px 40px;
  font-size: 20px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.controls #pre {
  /* background-color: grey; */
  position: relative;
  margin-left: 0px;
  font-size: 20px;
  margin: 0 40px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
}

@media (min-width: 515px) and (max-width: 615px) {
  .invert1{
    margin-left: 10px;
    visibility: visible;
  }
  .invert2{
    
    visibility: visible;
  
  }
  .artist-name {
    padding: 0px 11px 13px;
}
  .left{
    display: none;
    height: 100%;
  }
  .right{
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  }
  .b2{
    display: none;
  }
  .b1{
    display: none;
  }
  .btn3{
    visibility: visible;
    cursor: pointer;
  }
  .artist-image img {
    width: 109px;
    height: 150px;
    border-radius: 10%;
    padding: 10px 0px;
    border: none;
}

.artist {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px 0px 27px;
}
.artist-items {
  width: 28%;
  margin: 20px 21px 5px 4px;
}
.ee1 div {
  display: block;
}
.ul1 ul .ee1 button {
 
  margin: 16px 10px;
 
}
.artist-name h4 {
  font-size: 15px;

}
.artist-name p {
  font-size: 13px;
}
.pop-text {
  padding: 28px 15px 12px 22px;
  font-size: 30px;
  color: rgb(201, 132, 132);
}
.ul1 ul {
  padding: 50px 30px 22px;
  display: block;
}
.ul1 ul li {
padding: 15px;
}
.ul1 ul li .et2 {
 
  font-size: 13px;
 
}
.ul1 ul li .et1 {
 
  font-size: 17px;
  
}
.right1 {
 
    width: 100%;
    margin: 0px;
    max-height: 100vh;
  
}
.img1 img {
  border-radius: 100%;
  margin-top: 21px;
  width: 140px;
  height: 140px;
  text-align: center;
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.main {
  margin-top: -40px;
  margin-bottom: 27px;
  width: 95vw;
  height: auto;
  background-color: rgb(121 129 98);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  /* padding-left: 100px; */
  box-shadow: -1px 1px 11px 3px rgb(0, 0, 0.5);
}
.progress {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  /* margin-top: 1rem; */
}
section {
  margin-top: 50px;
  margin-bottom: 130px;
  padding: 0px 60px 0px 10px;
  flex-direction: column-reverse;
}
.main #hh {
  margin-top: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.controls{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 40px 10px;
  align-items: center;
}
.controls #next {
  /* background-color: grey; */
  position: relative;
  margin: 0px 40px;
  font-size: 20px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.controls #pre {
  /* background-color: grey; */
  position: relative;
  margin-left: 0px;
  font-size: 20px;
  margin: 0 40px;
  color: white;
  background-color:transparent;
  padding: 10px;
  border-radius: 35px;
  padding-left: 15px;
}
.playbtn button {
  background-color: #1ed760;
  padding: 13px 26px;
  width: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  border: 1px;
  position: absolute;
  right: 5px;
  top: 200px;
  opacity: 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.artist-items:hover .playbtn button {
  opacity: 1;
  top: 100px;
}


}


